@import "../../scss/variables";

.new-task-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 10px;
  border: 2px dashed #222222;
  border-radius: 12px;
  cursor: pointer;

  .wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icon {
    font-size: 17px;
    color: $dark-gray;
  }

  .text {
    color: $dark-gray;
    font-size: 17px;
    font-weight: bold;
  }
}
