@import "../../scss/variables";
@import "../../scss/colorize";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f9fb;
  flex: 1;
  border-radius: 12px;
  padding: 20px;

  &__header {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: $default-text;
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    &-count {
      font-size: 16px;
      font-weight: bold;
      padding: 1px 10px;
      border-radius: 5px;
      background-color: #fcfdfe;
      color: $dark-gray;
    }
  }
}
