.boards {
  padding: 35px;

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }

  &__add-new {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__add-text {
    margin-left: 10px;
  }
}
