@import "../../scss/variables";

.task {
  width: 100%;
  padding: 12px 10px;
  border-radius: 12px;
  background-color: $gray;
  &-text {
    color: $dark-gray;
    font-size: 17px;
    font-weight: bold;
    display: flex;
  }
}
