@import "../../scss/variables";

.task {
  width: 100%;
  padding: 12px 10px;
  border-radius: 12px;
  background-color: $dark-gray;
  &-text {
    color: #ffffff;
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
}
