@import "variables";
@import "normalize";
@import "forms";

.container {
  position: relative;
  left: 240px;
  height: 100vh;
  width: calc(100% - 240px);
  transition: all 0.5s ease;
  background-color: $light-gray;

  .content {
    min-height: calc(100% - 40px);
    padding: 10px 20px;
  }
}

.nav.close ~ .container {
  left: 80px;
  width: calc(100% - 80px);
}

span {
  color: $dark-gray;
  font-weight: normal;
  font-size: 20px;
}

p {
  color: $dark-gray;
  font-size: 16px;
}

label {
  color: #000000;
  font-size: 13px;
  font-weight: 100;
}

h2 {
  color: #000000;
}
