.color-blue {
  background-color: #1e90ff;
}

.color-orange {
  background-color: #ffa500;
}

.color-green {
  background-color: #008000;
}

.color-red {
  background-color: #dc143c;
}

.color-purple {
  background-color: #9370db;
}

.color-pink {
  background-color: #ffc0cb;
}

.color-lime {
  background-color: #32cd32;
}

.color-sky {
  background-color: #87ceeb;
}

.color-grey {
  background-color: #a9a9a9;
}
