.custom-form {
  min-width: 35vw;

  &__title {
    margin-bottom: 15px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.btn {
  display: inline;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border: none;
  user-select: none;
  border-radius: 12px;
  color: #ffffff;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.2s ease;

  &-icon {
    padding: 4px;
    box-shadow: none;
  }

  &:hover {
    filter: brightness(90%);
  }

  &:active,
  &.active {
    filter: brightness(85%);
  }

  &-blue {
    background-color: $blue;
  }

  &-gray {
    background-color: $gray;
  }

  &-dark-gray {
    background-color: $dark-gray;
  }

  &-red {
    background-color: $red;
  }
}

.span-error {
  color: $red;
  font-size: 13px;
  font-weight: 100;
  margin: 2px 0 0 1px;
}

label {
  color: $dark-gray;
  font-size: 13px;
  font-weight: normal;
}

input {
  height: 35px;
  border-radius: 8px;
  border: 1px solid $middle-gray;
  font-size: 14px;
  padding: 7px;

  &.big-text {
    min-height: 100px;
  }

  &:focus {
    border: 1px solid $blue;
  }

  &.invalid {
    border: 1px solid $red;
  }
}
