.btn {
  display: inline;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border: none;
  border-radius: 12px;

  &-blue {
    background-color: $blue;
    color: #ffffff;
  }

  &-gray {
    background-color: $dark-gray;
    color: #ffffff;
  }

  &-red {
    background-color: $red;
    color: #ffffff;
  }
}

input {
  height: 35px;
  border-radius: 3px;
  border: 1px solid $dark-gray;
  font-size: 14px;
  padding: 7px;
}
