$pink: #ec7d69;
$blue: #4b89dc;
$red: #d94555;
$gray: #a7c0cd;
$dark-gray: #424649;
$new-black: #161616;
$light-gray: #edf6f9;

// $dark-green: #006d77;
// $green: #83c5be;
// $gray: #edf6f9;
// $pink: #ffddd2;
// $brown: #e29578;
